name: Deploy static files to s3 bucket

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy_to_s3:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC authentication
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: install aws cli
      uses: install cli
      uses: unfor19/install-aws-cli-action@v1
      with:
      version: 2                         # default
      verbose: false                     # default
      arch: amd64                        # allowed values: amd64, x86, x64, arm, arm64


    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: us-east-1 

    - name: Upload files to s3
      run: |
        aws s3 cp ./your-file.txt s3://kanm.bucket.1/ --recursive
